body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color:#000033;
}

#chartdiv {
  width: 100%;
  height: 500px;
max-width:100%;
  background-color:#000033;
}

.info-body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.h2, h2{
  margin-top: 0;
  font-family: 'Caveat Brush', cursive,Arial, Helvetica, sans-serif;
  display: inline;
}