<!--I did this before I slept so most of, if not all,  the animation is from a codepen-->
<!--url:https://codepen.io/jammastergirish/pen/oONbMV-->
<!--my redo it But this seems cool so Imma just roll with this!-->
<!--Most of the updates are from https://www.worldometers.info/ bruh-->
{% extends 'base.html' %}

{% block title %}
Visualizer
{% endblock %}

{% block body %}
<!-- HTML -->
<h1>COVID-19</h1>
    <h3>Click on a country to view stats</h3>
<div id="chartdiv">
    
</div>
{% endblock %}
